body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: auto 27% 27% 27%;
  grid-template-rows: 6% auto 30% 15%;
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "sidebar section1 section2 section3"
    "footer footer footer footer";
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: white;
  grid-area: header;
  display: grid;
  grid-template-columns: 70% 30%;
  color: #3d3f40;
  font-size: 20px;
  position: fixed;
  width: 100%;
}
.logo {
  align-self: center;
  font-weight: 900;
}
.menu {
  display: inline-block;
}

header li {
  display: inline;
  margin-right: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #3d3f40;
  font-size: 20px;
  font-weight: 900;
}

main {
  margin-bottom: 0;
  grid-area: main;
}

main img {
  width: 100%;
  margin-bottom: 0;
}

aside {
  background-color: #ecf0f0;
  grid-area: sidebar;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

aside ul {
  list-style: none;
}

.me {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.kayak {
  height: 200px;
  width: 200px;
  padding-bottom: 20px;
  object-fit: cover;
}

.riot {
  height: 200px;
  width: 200px;
  padding-bottom: 20px;
  object-fit: cover;
}

.cbs {
  height: 200px;
  width: 200px;
  padding-bottom: 20px;
  object-fit: cover;
}

section {
  margin-bottom: 20px;
}

section:nth-of-type(1) {
  background-color: #ecf0f0;
  grid-area: section1;
  text-align: center;
}

section:nth-of-type(2) {
  background-color: #ecf0f0;
  grid-area: section2;
  text-align: center;
}

section:nth-of-type(3) {
  background-color: #ecf0f0;
  grid-area: section3;
  text-align: center;
}

section img {
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 255, 0.2);
}

footer {
  background-color: #a39cbe;
  grid-area: footer;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-contact {
  align-self: center;
}

footer .fab {
  font-size: 75px;
  margin-right: 20px;
}

@media only screen and (min-width: 280px) and (max-width: 320px) {
  body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header"
      "main"
      "section1"
      "section2"
      "section3"
      "footer";
  }
  header ul {
    display: none;
  }
  aside {
    display: none;
  }
  main img {
    width: 100%;
    margin-bottom: 0;
  }
  .social-icons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:
      "title title"
      "linkedin github";
  }

  footer .fab {
    font-size: 50px;
    margin-right: 20px;
  }

  .title {
    grid-area: title;
  }

  .linkedin {
    grid-area: linkedin;
  }

  .github {
    grid-area: github;
  }
}

@media only screen and (max-width: 410px) {
  body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header"
      "main"
      "section1"
      "section2"
      "section3"
      "footer";
  }
  header ul {
    display: none;
  }
  aside {
    display: none;
  }
  main img {
    width: 100%;
    margin-bottom: 0;
  }
  .social-icons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:
      "title title"
      "linkedin github";
  }

  footer .fab {
    font-size: 35px;
    margin-right: 20px;
  }

  .title {
    grid-area: title;
  }

  .linkedin {
    grid-area: linkedin;
  }

  .github {
    grid-area: github;
  }
}

@media only screen and (min-width: 411px) and (max-width: 1024px) {
  body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "header"
      "main"
      "section1"
      "section2"
      "section3"
      "footer";
  }
  header ul {
    display: none;
  }
  aside {
    display: none;
  }
  main img {
    width: 100%;
    margin-bottom: 0;
  }
  .social-icons {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:
      "title title"
      "linkedin github";
  }

  .title {
    grid-area: title;
  }

  .linkedin {
    grid-area: linkedin;
  }

  .github {
    grid-area: github;
  }
}
